@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    background:#078af5;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}
nav .mainMenu li a:hover {
    background: rgb(255,94,0);
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);}

nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}


/*article*/
.marge
{
    margin-top: 100px;
    margin-bottom: 100px;
}
h1
{
    margin-bottom: 30px;
}
.container
{
    width: 70%;
    height: auto;
}

article{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: grey;
    padding-top: 100px;
    border-top: 2px solid black;
}

p
{
    margin-bottom: 50px;
    text-align: justify;
    line-height: 25px;
    color:rgb(230, 219, 219);
}


img
{
    margin-bottom: 20px;
    align-items: center;
    width: 200px;
    height: 200px;
}


@media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #076dc0;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}

